.image-slider .swiper {
    width: 100%;
    height: 100%;
  }
  
  .image-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-slider .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .image-slider .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  .image-slider .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  .image-slider .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .image-slider .mySwiper2 img {
    @apply !h-[min(25rem,calc(100vh-40px))];
  }
  .image-slider .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  .image-slider .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  .image-slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  