@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply font-poppins;
    overscroll-behavior: contain;
}

.links-item {
    @apply relative
}

.links-item::before {
    content: "";
    @apply w-0 h-[2px] absolute top-auto bottom-0 bg-blue-400 rounded-sm transition-all duration-500;
    left: 50%;
    transform: translateX(-50%);
}

.links-item:hover::before {
    @apply w-full
}

@keyframes scaleanimation {
    from {
        transform: scale(0.9) translateY(-100%);
    }
    to {
        transform: scale(1, 1) translateY(0%);
    }
}

@media screen and (max-width:640px) {
    .links-item::before {
        @apply left-0 translate-x-0;
    }
    @keyframes scaleanimation {
        from {
            transform: scale(0.9) translateX(-100%);
        }
        to {
            transform: scale(1, 1) translateX(0%);
        }
    }
}

.transiton-bg-color {
    /* @apply transition; */
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.transition-bg:hover {
    @apply bg-slate-300;
    transition: background-color 0.4s ease;
}


/* button here */

.btn-success {
    @apply rounded-3xl text-lg border-2 border-green-400 text-white bg-green-400 w-fit px-6 py-0 shadow mr-6 mb-2
}

.testimonial {
    @apply transition-all translate-y-10 opacity-0 duration-700
}

.testimonial.active {
    @apply opacity-100 translate-y-0
}

.cal-width {
    --w: 400px;
    width: min(var(--w), calc(100vw - 30px));
}

.scale-info {
    animation: scaleanimation 0.4s;
}