@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49345);
  --gradient-bar: linear-gradient(103.97deg, #ae67fa -13.86%, #f49345);
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #b1affd;
  --color-subtext: #ffba71;
}
.react-datepicker__day.react-datepicker__day--disabled {
  @apply !text-slate-50 !hidden;
}
.react-datepicker {
  border: none !important;
  @apply !bg-white dark:!bg-slate-900 !shadow-md;
}
.react-datepicker__header {
  @apply !bg-transparent !text-black dark:!text-white;
}
.react-datepicker__day {
  @apply !rounded-full !text-black dark:!text-white;
}
.react-datepicker__day--in-range {
  @apply !rounded-full  dark:!text-white !bg-green-500 !text-white;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  @apply font-poppins !font-light !text-xs lg:text-sm;
  /* overscroll-behavior: contain; */
}

.links-item {
  @apply relative;
}

.links-item::before {
  content: "";
  @apply w-0 h-[2px] absolute top-auto bottom-0 bg-blue-400 rounded-sm transition-all duration-500;
  left: 50%;
  transform: translateX(-50%);
}

.links-item:hover::before {
  @apply w-full;
}
.grid-flow {
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  display: grid;
  gap: 0.4rem;
}

@keyframes scaleanimation {
  from {
    transform: scale(0.9) translateY(-100%);
  }
  to {
    transform: scale(1, 1) translateY(0%);
  }
}

@media screen and (max-width: 640px) {
  .links-item::before {
    @apply left-0 translate-x-0;
  }
  @keyframes scaleanimation {
    from {
      transform: scale(0.9) translateX(-100%);
    }
    to {
      transform: scale(1, 1) translateX(0%);
    }
  }
}

.transiton-bg-color {
  /* @apply transition; */
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.transition-bg:hover {
  @apply bg-slate-300;
  transition: background-color 0.4s ease;
}

.scale-navigate {
  @apply scale-0;
}

.scale-navigate.active {
  @apply scale-100;
}

/* button here */
.swiper-button-disabled {
  /* display: none !important; */
  opacity: 0.3 !important;
  transition: opacity 0.3s ease;
}
.swiper-button-prev::after,
.swiper-button-prev::before,
.swiper-button-next::after,
.swiper-button-next::before {
  content: none !important;
}
.arrows {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 23;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  background: rgb(26, 25, 25, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
  @apply shadow-lg z-10 rounded-full text-white cursor-pointer;
}
.datePicker {
  width: 100% !important;
  @apply !font-semibold;
}
.arrow:is(:hover, :focus) {
  @apply bg-slate-400/25;
}

.arrow.arrow__left {
  left: 1rem;
}

.arrow.arrow__right {
  right: 1rem;
}

.testimonial {
  @apply transition-all translate-y-10 opacity-0 duration-700;
}

.testimonial.active {
  @apply opacity-100 translate-y-0;
}

.cal-width {
  --w: 400px;
  width: min(var(--w), calc(100vw - 30px));
}

.scale-info {
  animation: scaleanimation 0.4s;
}

.scrollto::-webkit-scrollbar {
  width: 12px;
  height: var(--scroll-to-height);
}

.scrollto::-webkit-scrollbar-thumb {
  @apply border-slate-400 bg-slate-600 border-[3px] rounded-[20px];
}

.scrollto:hover::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
}

.scrollto::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

.scale-animation {
  animation: scale-animation 1s infinite;
}

.button-add {
  perspective: 100px;
}

.icons-container .icon {
  @apply scale-0 rotate-90;
}

.icons-container .icon.active {
  animation-name: spinicon;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes spinicon {
  to {
    @apply scale-125 rotate-0;
  }
}

@keyframes scale-animation {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.3) rotateX(30deg);
  }
}

.screen {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  @apply w-2 h-2;
}
::-webkit-scrollbar-track {
  @apply bg-gray-400;
}
.css-qbdosj-Input,
.css-60vmsc-control,
.css-1fdsijx-ValueContainer {
  @apply !bg-transparent;
}
.react-pdf__Page {
  @apply bg-white dark:!bg-slate-900;
}
.react-pdf__Page__textContent,
.textLayer,
.react-pdf__Page__annotations,
.annotationLayer {
  @apply !hidden;
}
.css-1nmdiq5-menu {
  @apply dark:!bg-slate-900 dark:!text-white !rounded-sm !-translate-y-2;
}
.react-pdf__Page__canvas {
  @apply !max-w-full !w-full;
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg border-2 border-orange-200 bg-blue-50;
}
::-webkit-scrollbar-thumb:hover {
  @apply rounded-xl bg-slate-200;
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    /* background-color: #00FF00; */
    /* color: #111; */
    /* font-size: 150%; */
    position: absolute;
    padding: 1px 5px 2px 5px;
    top: 1.6em;
    left: 30px;
    white-space: nowrap;
    /* box-shadow: 1px 1px 3px #797474; */
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    @apply bg-gray-600 dark:bg-slate-300 text-white dark:text-white rounded-sm shadow-lg dark:shadow-black border-none text-lg
}
[data-title] {
    position: relative;
}
.date {
  color: var(--secondary);
  font-size: 14px;
  text-transform: uppercase;
}
.overlay {
  @apply fixed w-full z-[50] h-full inset-0 bg-slate-600/75  opacity-0 pointer-events-none invisible duration-500  transition-all
}
.overlay.active {
  @apply opacity-100 pointer-events-auto visible;
}
